<h1>Questions#edit</h1>
<p>Find me in app/views/questions/edit.html.erb</p>


  <%= form_for @questions do |f| %>

  <div class="form-group">
    <%= f.label :questions %>
    <%= f.text_field :questions, class: 'form-control', placeholder: @questions %>
  </div>

  <div class="form-group">
    <%= f.label :status %>
    <%= f.text_field :status, class: 'form-control', placeholder: "Open" %>
  </div>

  <%= f.submit "Enter", class: 'btn btn-success' %>
<% end %>